.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero__canvas {
    height: 100vh;
    width: 100vw;
  }

  .floor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0),
        $primary-color 75%
      ),
      repeating-conic-gradient(
        from 45deg,
        $primary-color 0deg 90deg,
        $secondary-color 90deg 180deg
      );
    background-size: 100%, 2em 2em;
    top: calc(55% + 50px);
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
  }

  &__box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(-45deg);
    width: 200px;
    height: 100px;
    margin: 0 auto;
    // background-color: rgba(200, 150, 150, 0.5);

    &--front,
    &--right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      height: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: rgba($dark-color, 1);
      box-shadow: 0 0 1em $primary-color inset;
    }

    &--front {
      transform: translateZ(100px);
    }

    &--right {
      transform: rotateY(90deg) translateZ(100px);
    }
  }

  .float-area {
    height: 100vh;
    max-width: 700px;
    margin: 0 auto;
    &-box {
      font-size: 0.7rem;
      position: absolute;
      width: 5em;
      aspect-ratio: 1/1;

      animation: rotateBox infinite linear;
      @keyframes rotateBox {
        to {
          transform: rotateY(720deg) rotateX(360deg);
        }
      }

      &--1 {
        animation-duration: 15s;
        left: calc(50% - 2.5em);
        top: 20%;
      }

      &--2 {
        animation-duration: 16.2s;
        left: calc(20% - 2.5em);
        top: 24%;
      }

      &--3 {
        animation-duration: 18.8s;
        left: calc(80% - 2.5em);
        top: 24%;
      }

      &__front,
      &__back,
      &__left,
      &__right,
      &__top,
      &__bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 5em;
        height: 5em;
        background-color: rgba($secondary-color, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1em $dark-color inset;
      }

      &__front {
        transform: translateZ(2.5em);
      }

      &__right {
        transform: rotateY(90deg) translateZ(2.5em);
      }

      &__left {
        transform: rotateY(-90deg) translateZ(2.5em);
      }

      &__back {
        transform: rotateY(180deg) translateZ(2.5em);
      }

      &__top {
        transform: rotateX(90deg) translateZ(2.5em);
      }

      &__bottom {
        transform: rotateX(-90deg) translateZ(2.5em);
      }
    }
  }

  &__button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }
}
