:root {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  background: #16a0d2; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  transition: color 300ms;
  color: currentColor;
  cursor: pointer; }

li {
  list-style: none; }

img {
  width: 100%;
  display: block; }

section {
  padding-bottom: 70px; }

p {
  margin-bottom: 0.6rem; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.header-spacer {
  height: 140px; }

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.paragraph-number {
  font-family: sans-serif; }

.test {
  border: 1px solid black;
  outline: 3px solid rgba(255, 0, 0, 0.5); }

.centered {
  text-align: center; }

.margin-b-1 {
  margin-bottom: 1rem; }

.margin-b-2 {
  margin-bottom: 2rem; }

.margin-b-3 {
  margin-bottom: 3rem; }

/*
This makes a class where 3d content can be made.
Every item within this block wil have the same 3d style.
Height and width have to be configured in another class.
The perspective property has to be set to get a distance from the 0 line.
*/
.canvas-3d {
  position: relative;
  perspective: 400px;
  overflow: hidden; }
  .canvas-3d *,
  .canvas-3d *::before,
  .canvas-3d *::after {
    transform-style: preserve-3d; }

.button {
  display: inline-block;
  font-size: 1rem;
  background: #06303f;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #06303f; }
  .button:hover {
    background: none;
    color: var(--dark-color); }

.button__hero {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #006a93 0%, #015e82 26%, #063040 100%);
  padding: 0 32.5px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 2;
  color: #ccc;
  text-shadow: 0 -2px 0 black, 0 1px 1px #0f769d;
  border-radius: 5px;
  border-top: 1px solid #107da7;
  border-bottom: 1px solid #0f769d;
  border-left: none;
  border-right: none;
  transition: all 0.06s ease-out; }
  .button__hero:visited {
    color: #ccc; }
  .button__hero:hover {
    background: linear-gradient(to bottom, #0084b6 0%, #0278a5 26%, #094861 100%);
    top: 2px; }
    .button__hero:hover::after {
      top: 4px; }
  .button__hero::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 6px;
    border-radius: 5px;
    height: 100%;
    background: linear-gradient(to top, black 0%, black 6px);
    box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.3), 0 5px 2.4px rgba(0, 0, 0, 0.5), 0 10.8px 9px rgba(0, 0, 0, 0.2);
    transition: all 0.078s ease-out; }
  .button__hero:active {
    top: 6px;
    text-shadow: 0 -2px 0 #063040, 0 1px 1px #0f769d, 0 0 4px white;
    color: #6dcdf1; }
    .button__hero:active::after {
      top: 0;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2); }

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    position: relative;
    z-index: 10;
    font-family: "Noto";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.25em;
    padding: 1rem;
    padding-right: 1.75rem;
    /* compensation for letter-spacing */
    background: #44b3db; }
  .header .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background: #fff;
    color: #16a0d2;
    margin-bottom: 10px;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: all 700ms ease-in-out; }
    .header .main-nav--isVisible {
      transform: translateY(0); }

footer {
  width: 100%;
  background: #06303f;
  padding: 20px 30px; }
  footer .footer {
    display: flex;
    justify-content: space-between; }
  footer .social-media {
    display: flex; }
  footer .social-media li {
    margin: 0 0.7rem; }

.mobile-menu {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  background: none;
  position: relative;
  z-index: 10;
  cursor: pointer; }
  .mobile-menu__bars, .mobile-menu__bars::before, .mobile-menu__bars::after {
    background: #fff;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    position: absolute;
    transition: all 500ms; }
  .mobile-menu__bars {
    top: 50%;
    transform: translateY(-50%); }
  .mobile-menu__bars::before, .mobile-menu__bars::after {
    display: block;
    content: "";
    height: 100%; }
  .mobile-menu__bars::before {
    transform: translateY(-200%); }
  .mobile-menu__bars::after {
    transform: translateY(200%); }
  .mobile-menu:hover .mobile-menu__bars,
  .mobile-menu:hover .mobile-menu__bars::before,
  .mobile-menu:hover .mobile-menu__bars::after {
    background: #ccc; }
  .close .mobile-menu__bars {
    transform: translateY(-50%) rotate(45deg); }
  .close .mobile-menu__bars::before {
    background: #16a0d2;
    transform: rotate(-90deg); }
  .close .mobile-menu__bars::after {
    background: #16a0d2;
    transform: rotate(0deg); }

.box-wrapper {
  --box-width-3d: 30vw;
  --box-height-3d: 30vh;
  --box-depth-3d: 15vw;
  --box-color-3d: white;
  --box-background-3d: pink;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightgray;
  transform: rotateX(-45deg);
  transform: translate(-50%, -50%) rotateY(30deg) rotateX(45deg); }

.box-3d {
  position: absolute;
  width: var(--box-width-3d);
  height: var(--box-height-3d);
  color: var(--box-color-3d); }
  .box-3d * {
    position: absolute; }
  .box-3d__front, .box-3d__back {
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--box-width-3d);
    height: var(--box-height-3d);
    background-color: var(--box-background-3d); }
  .box-3d__front {
    transform: translateZ(calc(var(--box-depth-3d) / 2)); }
  .box-3d__back {
    transform: rotateY(180deg) translateZ(calc(var(--box-depth-3d) / 2)); }
  .box-3d__left, .box-3d__right {
    top: 0;
    left: calc(50% - var(--box-depth-3d) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--box-depth-3d);
    height: var(--box-height-3d);
    background-color: var(--box-background-3d); }
  .box-3d__left {
    transform: rotateY(270deg) translateZ(calc(var(--box-width-3d) / 2)); }
  .box-3d__right {
    transform: rotateY(90deg) translateZ(calc(var(--box-width-3d) / 2)); }
  .box-3d__top, .box-3d__bottom {
    top: calc(50% - var(--box-depth-3d) / 2);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--box-width-3d);
    height: var(--box-depth-3d);
    background-color: var(--box-background-3d); }
  .box-3d__top {
    transform: rotateX(90deg) translateZ(calc(var(--box-height-3d) / 2)); }
  .box-3d__bottom {
    transform: rotateX(270deg) translateZ(calc(var(--box-height-3d) / 2)); }

.card {
  background-color: #fff;
  color: #06303f;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 25px #06303f;
  overflow: hidden; }
  @media (min-width: 690px) {
    .card {
      height: 350px; } }
  .card__title {
    position: relative;
    z-index: 20;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5em;
    text-align: center; }
  .card__image {
    margin-bottom: auto; }
  .card__text {
    padding: 1rem; }
  .card__links {
    z-index: 20; }

@media (min-width: 690px) and (hover: hover) {
  .card__text {
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-100%); } }

@media (min-width: 690px) {
  .card__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 10;
    padding: 3.5rem 1.5rem;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 300ms; } }

.card:hover .card__text {
  transform: translateY(0); }

.two-field-layout {
  width: 90%;
  background-color: #fff;
  margin: 0 auto 3rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden; }
  @media (min-width: 690px) {
    .two-field-layout {
      flex-direction: row; }
      .two-field-layout--reverse {
        flex-direction: row-reverse; } }
  .two-field-layout__image-field {
    overflow: hidden;
    flex: 0 0 50%;
    display: flex;
    align-items: center; }
    .two-field-layout__image-field .iframe {
      width: 100%;
      display: block;
      min-height: 600px; }
  .two-field-layout__text-field {
    flex: 0 0 50%;
    color: #06303f;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .two-field-layout__text-field .text {
      max-width: 20em;
      margin: 1.5rem auto 1rem;
      line-height: 1.7; }
    .two-field-layout__text-field .link {
      align-self: center;
      margin-top: 1rem;
      padding: 1rem 2rem; }

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero .hero__canvas {
    height: 100vh;
    width: 100vw; }
  .hero .floor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(rgba(255, 255, 255, 0), #16a0d2 75%), repeating-conic-gradient(from 45deg, #16a0d2 0deg 90deg, #44b3db 90deg 180deg);
    background-size: 100%, 2em 2em;
    top: calc(55% + 50px);
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg); }
  .hero__box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(-45deg);
    width: 200px;
    height: 110px;
    margin: 0 auto; }
    .hero__box--front, .hero__box--right {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      height: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: #06303f;
      box-shadow: 0 0 1em #16a0d2 inset;
      line-height: 1.3; }
      .hero__box--front h1, .hero__box--right h1 {
        font-size: 1.8em; }
      .hero__box--front h2, .hero__box--right h2 {
        font-size: 1.2em; }
    .hero__box--front {
      transform: translateZ(100px); }
    .hero__box--right {
      transform: rotateY(90deg) translateZ(100px); }
  .hero .float-area {
    height: 100vh;
    max-width: 700px;
    margin: 0 auto; }
    .hero .float-area-box {
      font-size: 0.7rem;
      position: absolute;
      width: 5em;
      aspect-ratio: 1/1;
      animation: rotateBox infinite linear; }

@keyframes rotateBox {
  to {
    transform: rotateY(720deg) rotateX(360deg); } }
      .hero .float-area-box--1 {
        animation-duration: 15s;
        left: calc(50% - 2.5em);
        top: 20%; }
      .hero .float-area-box--2 {
        animation-duration: 16.2s;
        left: calc(20% - 2.5em);
        top: 24%; }
      .hero .float-area-box--3 {
        animation-duration: 18.8s;
        left: calc(80% - 2.5em);
        top: 24%; }
      .hero .float-area-box__front, .hero .float-area-box__back, .hero .float-area-box__left, .hero .float-area-box__right, .hero .float-area-box__top, .hero .float-area-box__bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 5em;
        height: 5em;
        background-color: rgba(68, 179, 219, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 1em #06303f inset; }
      .hero .float-area-box__front {
        transform: translateZ(2.5em); }
      .hero .float-area-box__right {
        transform: rotateY(90deg) translateZ(2.5em); }
      .hero .float-area-box__left {
        transform: rotateY(-90deg) translateZ(2.5em); }
      .hero .float-area-box__back {
        transform: rotateY(180deg) translateZ(2.5em); }
      .hero .float-area-box__top {
        transform: rotateX(90deg) translateZ(2.5em); }
      .hero .float-area-box__bottom {
        transform: rotateX(-90deg) translateZ(2.5em); }
  .hero__button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 2rem; }

#portfolio {
  background: #44b3db; }
  #portfolio .portfolio {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 30px;
    column-gap: 10px;
    justify-items: center; }
    #portfolio .portfolio__title {
      grid-column: 1/-1; }

.showcase__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; }
  .showcase__buttons :first-child {
    grid-column: 1 / -1; }

#courses {
  background-color: #44b3db; }

.about {
  min-height: 400px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); */
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px; }
  .about__title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2rem; }
  .about__image {
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
    background: url("../../img/cv-vierkant-300w.jpg") no-repeat center center/cover;
    border: 15px solid white;
    border-bottom: 30px solid white;
    box-shadow: 10px 10px 20px #06303f;
    transform: rotate(7deg); }
  .about__button {
    margin-left: 0; }
  @media screen and (min-width: 400px) {
    .about {
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); }
      .about__image {
        width: 300px;
        height: 300px;
        border: 20px solid white;
        border-bottom: 50px solid white; } }
  .about__text {
    line-height: 1.7rem;
    padding: 0 1.5rem; }
    .about__text--title {
      margin-bottom: 1.3rem; }
    .about__text .introduction {
      margin-bottom: 1rem; }
    .about__text .motivation {
      margin-bottom: 2rem; }

.skills {
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  color: #06303f; }

.contact {
  background: #44b3db; }
  .contact__text {
    text-align: center; }
  .contact__email {
    color: white;
    letter-spacing: 1px;
    border-bottom: 1px solid white; }
  .contact__adress {
    text-align: center;
    margin-top: 2rem; }
