:root {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
  background: #16a0d2; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  transition: color 300ms;
  color: currentColor; }

li {
  list-style: none; }

img {
  width: 100%; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.header-spacer {
  height: 140px; }

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.button {
  display: inline-block;
  font-size: 1rem;
  background: #06303f;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #06303f; }
  .button:hover {
    background: none;
    color: var(--dark-color); }

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    position: relative;
    z-index: 10;
    font-family: "Noto";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.25em;
    padding: 1rem;
    padding-right: 1.75rem;
    /* compensation for letter-spacing */
    background: #44b3db; }
  .header .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background: #fff;
    color: #16a0d2;
    margin-bottom: 10px;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: all 700ms ease-in-out; }
    .header .main-nav--isVisible {
      transform: translateY(0); }
    @media (min-width: 690px) {
      .header .main-nav {
        transform: translateY(0);
        position: relative;
        flex-direction: row;
        gap: 1.5rem;
        width: auto;
        height: auto;
        background: none;
        color: #fff; } }

footer {
  width: 100%;
  background: #06303f;
  padding: 20px 30px; }
  footer .footer {
    display: flex;
    justify-content: space-between; }
  footer .social-media {
    display: flex; }
  footer .social-media li {
    margin: 0 0.7rem; }

.mobile-menu {
  width: 2rem;
  height: 2rem;
  background: none;
  position: relative;
  z-index: 10;
  cursor: pointer; }
  .mobile-menu__bars, .mobile-menu__bars::before, .mobile-menu__bars::after {
    background: #fff;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    position: absolute;
    transition: all 700ms; }
  .mobile-menu__bars {
    top: 50%;
    transform: translateY(-50%); }
  .mobile-menu__bars::before, .mobile-menu__bars::after {
    display: block;
    content: "";
    height: 100%; }
  .mobile-menu__bars::before {
    transform: translateY(-200%); }
  .mobile-menu__bars::after {
    transform: translateY(200%); }
  .mobile-menu:hover .mobile-menu__bars,
  .mobile-menu:hover .mobile-menu__bars::before,
  .mobile-menu:hover .mobile-menu__bars::after {
    background: #44b3db; }
  .close .mobile-menu__bars {
    transform: translateY(-50%) rotate(45deg); }
  .close .mobile-menu__bars::before {
    background: #16a0d2;
    transform: rotate(-90deg); }
  .close .mobile-menu__bars::after {
    background: #16a0d2;
    transform: rotate(0deg); }
  @media (min-width: 690px) {
    .mobile-menu {
      display: none; } }

.card {
  background-color: #fff;
  color: #06303f;
  position: relative;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 25px #06303f;
  overflow: hidden; }
  .card__title {
    position: relative;
    z-index: 20;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.5em; }
  .card__image {
    margin-bottom: auto; }
  .card__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 1.5rem;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 300ms; }
  .card__links {
    z-index: 20; }

@media (hover: hover) {
  .card__text {
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-100%); } }

.card:hover .card__text {
  transform: translateY(0); }

.hero {
  position: relative;
  background: url("https://images.unsplash.com/photo-1576345370995-26018389c723?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  text-align: center; }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)); }
  .hero .hero-text {
    position: relative;
    z-index: 10;
    margin-bottom: 2rem; }
    .hero .hero-text .title {
      font-size: 3rem;
      letter-spacing: 0.3rem;
      word-spacing: 0.5rem;
      margin-bottom: 0.8rem; }
    .hero .hero-text__title {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 2.2rem; }
  .hero__icon {
    font-size: 3rem; }
    .hero__icon-text {
      font-size: 0.6rem; }

#portfolio {
  background: #44b3db;
  padding-bottom: 3rem; }
  #portfolio .portfolio {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 30px;
    column-gap: 10px;
    justify-items: center; }
    #portfolio .portfolio__title {
      grid-column: 1/-1; }

.about {
  min-height: 400px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); */
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px; }
  .about__title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2rem; }
  .about__image {
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
    background: url("../../img/cv-vierkant-300w.jpg") no-repeat center center/cover;
    border: 15px solid white;
    border-bottom: 30px solid white;
    box-shadow: 10px 10px 20px #06303f;
    transform: rotate(7deg); }
  .about__button {
    margin-left: 0; }
  @media screen and (min-width: 400px) {
    .about {
      grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); }
      .about__image {
        width: 300px;
        height: 300px;
        border: 20px solid white;
        border-bottom: 50px solid white; } }
  .about__text {
    line-height: 1.7rem;
    padding: 0 1.5rem; }
    .about__text--title {
      margin-bottom: 1.3rem; }
    .about__text .introduction {
      margin-bottom: 1rem; }
    .about__text .motivation {
      margin-bottom: 2rem; }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: space-evenly;
  margin-bottom: 2rem;
  text-align: center;
  color: #06303f; }

.box {
  margin-bottom: 2rem; }
