footer {
  width: 100%;
  background: $dark-color;
  padding: 20px 30px;

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .social-media {
    display: flex;
  }

  .social-media li {
    margin: 0 0.7rem;
  }
}
