.c-mobile-menu {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  background: none;
  position: relative;
  z-index: 10;
  cursor: pointer;

  &__bars,
  &__bars::before,
  &__bars::after {
    background: $dark-color;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    position: absolute;
    transition: transform 500ms, background-color 200ms;
  }

  &__bars {
    top: 50%;
    transform: translateY(-50%);
  }

  &__bars::before,
  &__bars::after {
    display: block;
    content: "";
    height: 100%;
  }

  &__bars::before {
    transform: translateY(-200%);
  }

  &__bars::after {
    transform: translateY(200%);
  }

  &:hover &__bars,
  &:hover &__bars::before,
  &:hover &__bars::after {
    background: $dark-color-2;
  }

  .js-close &__bars {
    transform: translateY(-50%) rotate(45deg);
  }

  .js-close &__bars::before {
    transform: rotate(-90deg);
  }

  .js-close &__bars::after {
    transform: rotate(0deg);
  }

  // @media (min-width: $breakpoint-2) {
  //   display: none;
  // }
}
