/*
Use this HTML code for the box. Wrap the code in a div where the following properties must be defined:
--box-width-3d: 30vw;
--box-height-3d: 30vh;
--box-depth-3d: 15vw;
--box-color-3d: white;
--box-background-3d: pink;

<div class="box-3d">
  <div class="box-3d__front">Front-content</div>
  <div class="box-3d__back">Back-content</div>
  <div class="box-3d__left">Left-content</div>
  <div class="box-3d__right">Right-content</div>
  <div class="box-3d__top">Top-content</div>
  <div class="box-3d__bottom">Bottom-content</div>
</div>
*/

.box-3d {
  position: absolute;
  width: var(--box-width-3d);
  height: var(--box-height-3d);

  &__front,
  &__back {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--box-width-3d);
    height: var(--box-height-3d);
    background-color: var(--box-background-3d);
  }

  &__front {
    transform: translateZ(calc(var(--box-depth-3d) / 2));
  }

  &__back {
    transform: rotateY(180deg) translateZ(calc(var(--box-depth-3d) / 2));
  }

  &__left,
  &__right {
    position: absolute;
    top: 0;
    left: calc(50% - var(--box-depth-3d) / 2);
    width: var(--box-depth-3d);
    height: var(--box-height-3d);
    background-color: var(--box-background-3d);
  }

  &__left {
    transform: rotateY(270deg) translateZ(calc(var(--box-width-3d) / 2));
  }

  &__right {
    transform: rotateY(90deg) translateZ(calc(var(--box-width-3d) / 2));
  }

  &__top,
  &__bottom {
    position: absolute;
    top: calc(50% - var(--box-depth-3d) / 2);
    left: 0;
    width: var(--box-width-3d);
    height: var(--box-depth-3d);
    background-color: var(--box-background-3d);
  }

  &__top {
    transform: rotateX(90deg) translateZ(calc(var(--box-height-3d) / 2));
  }

  &__bottom {
    transform: rotateX(270deg) translateZ(calc(var(--box-height-3d) / 2));
  }
}
