.box-wrapper {
  --box-width-3d: 30vw;
  --box-height-3d: 30vh;
  --box-depth-3d: 15vw;
  --box-color-3d: white;
  --box-background-3d: pink;

  z-index: 100;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: lightgray;

  transform: rotateX(-45deg);
}

.box--hero {
  font-size: clamp(14px, 4.3vw, 30px);
  @media (min-aspect-ratio: 1/1) {
    font-size: clamp(14px, 4.3vh, 30px);
  }

  --box-width-3d: 18em;
  --box-depth-3d: 18em;
  --box-height-3d: 7.5em;
  --box-color-3d: white;
  --box-background-3d: rgba($dark-color, 1);

  width: var(--box-width-3d);
  height: var(--box-height-3d);
  position: absolute;

  bottom: 25%;
  left: 50%;
  transform: translateX(-50%) translateZ(-8em) rotateY(90deg) scale3d(0, 0, 0);
  transform-origin: bottom;
  animation: 3s ease-in-out forwards appear-and-turn;

  .front-content,
  .back-content,
  .top-content,
  .bottom-content,
  .left-content,
  .right-content {
    background-color: rgba($dark-color, 1);
    box-shadow: 0 0 1em $dark-color-2 inset;
  }

  .front-content,
  .left-content,
  .right-content {
    // background-color: rgba($dark-color, 1);
    // box-shadow: 0 0 1em $primary-color inset;
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;

    h1 {
      padding-left: 0.5em;
      font-size: 2.2em;
      line-height: 1.2;
      letter-spacing: 6px;
      text-shadow: -1px 1px 0 $dark-color-3, -2px 2px 0 $dark-color-2,
        -3px 3px $dark-color-2, -4px 4px $dark-color-1;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.4em;
      line-height: 1.4;
      letter-spacing: 3px;
      text-shadow: 1px 1px 0 $dark-color-3, 2px 2px 0 $dark-color-2,
        3px 3px $dark-color-1;
    }
  }

  .left-content {
    h2 {
      position: relative;
      letter-spacing: 0.5em;
      opacity: 0;
      animation: appear 2s ease-in-out 1s forwards;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-and-turn {
  0% {
    transform: translateX(-50%) translateZ(-8em) rotateY(90deg) scale3d(0, 0, 0);
  }
  1% {
    transform: translateX(-50%) translateZ(-8em) rotateY(90deg)
      scale3d(0.01, 0.01, 0.01);
  }
  20% {
    transform: translateX(-50%) translateZ(-8em) rotateY(90deg)
      scale3d(0.01, 0.01, 1);
  }
  25% {
    transform: translateX(-50%) translateZ(-8em) rotateY(90deg)
      scale3d(0.01, 0.01, 1);
  }
  35% {
    transform: translateX(-50%) translateZ(-8em) rotateY(90deg) scale3d(1, 1, 1);
  }
  70% {
    transform: translateX(-50%) translateZ(-8em) rotateY(90deg) scale3d(1, 1, 1);
  }
  100% {
    transform: translateX(-50%) translateZ(-8em) rotateY(-45deg)
      scale3d(1, 1, 1);
  }
}

.box--skills {
  font-size: clamp(10px, 2.8vw, 20px);

  @media (min-aspect-ratio: 1/1) {
    font-size: clamp(10px, 2.8vh, 20px);
  }

  --box-width-3d: 5em;
  --box-height-3d: 5em;
  --box-depth-3d: 5em;
  --box-color-3d: white;
  --box-background-3d: lightgray;

  position: absolute;
  width: var(--box-width-3d);
  height: var(--box-height-3d);

  &--middle {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale3d(0, 0, 0);
    animation: 1.2s ease-out 3s forwards jump-up-mid;

    .box-3d {
      animation: rotateBox infinite linear;
      animation-duration: 15s;
    }
  }

  @keyframes jump-up-mid {
    0% {
      top: 50%;
    }
    1% {
      transform: translateX(-50%) scale3d(0.1, 0.1, 0.1);
    }
    40% {
      top: 5%;
    }
    65% {
      top: 12%;
    }
    100% {
      top: 10%;
      transform: translateX(-50%) scale3d(1, 1, 1);
    }
  }

  &--left {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale3d(0, 0, 0);
    animation: 0.8s ease-out 3.5s forwards jump-up-left;

    .box-3d {
      animation: rotateBox infinite linear;
      animation-duration: 16.2s;
    }
  }

  @keyframes jump-up-left {
    0% {
      top: 50%;
      left: 50%;
    }
    1% {
      transform: translateX(-50%) scale3d(0.1, 0.1, 0.1);
    }
    60% {
      top: 20%;
    }
    80% {
      left: 20%;
    }
    100% {
      top: 25%;
      left: 20%;
      transform: translateX(-50%) scale3d(1, 1, 1);
    }
  }

  &--right {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale3d(0, 0, 0);
    animation: 0.8s ease-out 4s forwards jump-up-right;

    .box-3d {
      animation: rotateBox infinite linear;
      animation-duration: 18.8s;
    }
  }

  @keyframes jump-up-right {
    0% {
      top: 50%;
      left: 50%;
    }
    1% {
      transform: translateX(-50%) scale3d(0.1, 0.1, 0.1);
    }
    60% {
      top: 20%;
    }
    80% {
      left: 80%;
    }
    100% {
      top: 25%;
      left: 80%;
      transform: translateX(-50%) scale3d(1, 1, 1);
    }
  }

  .box-3d {
    @keyframes rotateBox {
      to {
        transform: rotateY(720deg) rotateX(360deg);
      }
    }
  }

  .front-content,
  .back-content,
  .left-content,
  .right-content,
  .top-content,
  .bottom-content {
    background-color: rgba($dark-color, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5em $dark-color-2 inset;
    padding: 0.5em;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

.box--button {
  font-size: 4.3vw;
  @media (min-aspect-ratio: 1/1) {
    font-size: 4.3vh;
  }

  --box-width-3d: 8em;
  --box-depth-3d: 10px;
  --box-height-3d: 2em;
  --box-color-3d: white;
  --box-background-3d: lightgray;

  position: absolute;
  bottom: 20px;
  right: 20px;
  width: var(--box-width-3d);
  height: var(--box-height-3d);
  background-color: black;

  &:hover {
    --box-depth-3d: 6px;
  }

  .front-content {
    $color: $dark-color;
    background: linear-gradient(
      to bottom,
      red 0%,
      $dark-color-2 26%,
      $dark-color 100%
    );
    // background: linear-gradient(
    //   to bottom,
    //   saturate(lighten($color, 15%), 35%) 0%,
    //   saturate(lighten($color, 12%), 15%) 26%,
    //   $color 100%
    // );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 0 1em $secondary-color inset;
  }

  .back-content,
  .left-content,
  .right-content,
  .top-content,
  .bottom-content {
    background-color: $dark-color;
  }
}

.button-3d-container {
  font-size: clamp(16px, 4vw, 30px);
  @media (min-aspect-ratio: 1/1) {
    font-size: clamp(16px, 4vh, 30px);
  }

  $color: $dark-color;
  position: absolute;
  bottom: 20px;
  right: 20px;

  .button-3d {
    position: relative;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border-top: 1px solid $dark-color-3;
    border-bottom: 1px solid $dark-color-3;
    border-left: none;
    border-right: none;
    transform: scale3d(0, 0, 0);
    transition: transform 300ms;
    animation: 0.4s ease-in-out 4.5s forwards fly-in;

    &:focus {
      border: 2px solid lighten($color, 70%);
    }

    &:hover,
    &:focus {
      transform: translateZ(-2px);

      .layer--hover {
        opacity: 0;
      }
    }

    &:active {
      transform: translateZ(-10px);

      .layer {
        display: none;
      }
    }
  }

  @keyframes fly-in {
    0% {
      transform: scale3d(0, 0, 0);
      // display: block;
    }
    75% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
      transform: scale3d(1, 1, 1);
      // display: block;
    }
  }

  .layers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 300ms;
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;

    background: linear-gradient(
      to bottom,
      $dark-color-2 0%,
      $dark-color-1 26%,
      $dark-color 100%
    );
    transform: translateZ(var(--tz));
    box-shadow: 0 0 0.1em #000d inset;

    @for $i from 0 to 12 {
      &:nth-child(#{$i + 1}) {
        --tz: #{$i * -1}px;
      }
    }
  }
}
