.box-wrapper {
  --box-width-3d: 30vw;
  --box-height-3d: 30vh;
  --box-depth-3d: 15vw;
  --box-color-3d: white;
  --box-background-3d: pink;

  z-index: 100;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: lightgray;

  transform: rotateX(-45deg);
}

.box--hero {
  font-size: clamp(14px, 4.3vw, 30px);
  @media (min-aspect-ratio: 1/1) {
    font-size: clamp(14px, 4.3vh, 30px);
  }

  --box-width-3d: 18em;
  --box-depth-3d: 18em;
  --box-height-3d: 7.5em;
  --box-color-3d: white;
  --box-background-3d: rgba($dark-color, 1);

  width: var(--box-width-3d);
  height: var(--box-height-3d);
  position: absolute;

  bottom: 25%;
  left: 50%;
  transform: translateX(-50%) translateZ(-8em) rotateY(-45deg);
  // transform: translateX(-50%) translateY(-50%) translateZ(-30vw);

  @media (min-aspect-ratio: 1/1) {
    transform: translateX(-50%) translateZ(-8em) rotateY(-45deg);
    // transform: translateX(-50%) translateY(-50%) translateZ(-30vh);
  }

  .front-content,
  .back-content,
  .top-content,
  .bottom-content,
  .left-content,
  .right-content {
    background-color: rgba($dark-color, 1);
    box-shadow: 0 0 1em $primary-color inset;
  }

  .front-content,
  .left-content,
  .right-content {
    // background-color: rgba($dark-color, 1);
    // box-shadow: 0 0 1em $primary-color inset;
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;

    h1 {
      padding-left: 0.5em;
      font-size: 2.2em;
      line-height: 1.2;
      letter-spacing: 6px;
    }

    h2 {
      font-size: 1.4em;
      line-height: 1.4;
      letter-spacing: 3px;
    }
  }
}

.box--skills {
  font-size: clamp(10px, 2.8vw, 20px);

  @media (min-aspect-ratio: 1/1) {
    font-size: clamp(10px, 2.8vh, 20px);
  }

  --box-width-3d: 5em;
  --box-height-3d: 5em;
  --box-depth-3d: 5em;
  --box-color-3d: white;
  --box-background-3d: lightgray;

  position: absolute;
  width: var(--box-width-3d);
  height: var(--box-height-3d);

  &--middle {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    .box-3d {
      animation: rotateBox infinite linear;
      animation-duration: 15s;
    }
  }

  &--left {
    top: 25%;
    left: 20%;
    transform: translateX(-50%);

    .box-3d {
      animation: rotateBox infinite linear;
      animation-duration: 16.2s;
    }
  }

  &--right {
    top: 25%;
    left: 80%;
    transform: translateX(-50%);

    .box-3d {
      animation: rotateBox infinite linear;
      animation-duration: 18.8s;
    }
  }

  .box-3d {
    @keyframes rotateBox {
      to {
        transform: rotateY(720deg) rotateX(360deg);
      }
    }
  }

  .front-content,
  .back-content,
  .left-content,
  .right-content,
  .top-content,
  .bottom-content {
    background-color: rgba($secondary-color, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1em $dark-color inset;
    padding: 0.5em;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

.box--button {
  font-size: 4.3vw;
  @media (min-aspect-ratio: 1/1) {
    font-size: 4.3vh;
  }

  --box-width-3d: 8em;
  --box-depth-3d: 10px;
  --box-height-3d: 2em;
  --box-color-3d: white;
  --box-background-3d: lightgray;

  position: absolute;
  bottom: 20px;
  right: 20px;
  width: var(--box-width-3d);
  height: var(--box-height-3d);
  background-color: black;

  &:hover {
    --box-depth-3d: 6px;
  }

  .front-content {
    $color: $dark-color;
    background: linear-gradient(
      to bottom,
      saturate(lighten($color, 15%), 35%) 0%,
      saturate(lighten($color, 12%), 15%) 26%,
      $color 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // box-shadow: 0 0 1em $secondary-color inset;
  }

  .back-content,
  .left-content,
  .right-content,
  .top-content,
  .bottom-content {
    background-color: $dark-color;
  }
}

.button-test-container {
  font-size: clamp(16px, 4vw, 30px);
  @media (min-aspect-ratio: 1/1) {
    font-size: clamp(16px, 4vh, 30px);
  }

  $color: $dark-color;
  position: absolute;
  bottom: 20px;
  right: 20px;

  .button-test {
    position: relative;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border-top: 1px solid lighten($color, 22%);
    border-bottom: 1px solid lighten($color, 20%);
    border-left: none;
    border-right: none;

    background: linear-gradient(
      to bottom,
      saturate(lighten($color, 15%), 35%) 0%,
      saturate(lighten($color, 12%), 15%) 26%,
      $color 100%
    );
    transition: transform 300ms;

    &:focus {
      border: 2px solid lighten($color, 70%);
    }

    &:hover,
    &:focus {
      transform: translateZ(-2px);

      .layer--hover {
        // display: none;
        opacity: 0;
      }
    }

    &:active {
      transform: translateZ(-10px);

      .layer {
        display: none;
      }
    }
  }

  .layers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 300ms;
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    background: linear-gradient(
      to bottom,
      saturate(lighten($color, 15%), 35%) 0%,
      saturate(lighten($color, 12%), 15%) 26%,
      $color 100%
    );
    transform: translateZ(var(--tz));
    box-shadow: 0 0 0.1em #000d inset;

    @for $i from 0 to 12 {
      &:nth-child(#{$i + 1}) {
        --tz: #{$i * -1}px;
      }
    }
  }
}
