.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    position: relative;
    z-index: 10;
    font-family: "Noto";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.25em;
    padding: 1rem;
    padding-right: 1.75rem; /* compensation for letter-spacing */
    background: $secondary-color;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background: $white;
    color: $primary-color;
    margin-bottom: 10px;
    padding: 1rem 0;
    transform: translateY(-100%);
    transition: all 700ms ease-in-out;

    &--isVisible {
      transform: translateY(0);
    }

    @media (min-width: $breakpoint-2) {
      transform: translateY(0);
      position: relative;
      flex-direction: row;
      gap: 1.5rem;
      width: auto;
      height: auto;
      background: none;
      color: $white;
    }
  }
}
