$dark-color: #06303f;
$dark-color-1: lighten($dark-color, 10%);
$dark-color-2: lighten($dark-color, 20%);
$dark-color-3: lighten($dark-color, 30%);
$dark-color-4: darken($dark-color, 10%);

$light-color: #f4f4f4;
$white: #fff;
$primary-color: #16a0d2;
$secondary-color: #44b3db;
$tertiary-color: #db44b3;
$max-page-width: 1100px;
$header-height: 140px;
$font-1: "Raleway", Arial, Helvetica, sans-serif;

$breakpoint-1: 350px;
$breakpoint-2: 690px;
