:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: $font-1;
  font-weight: 500;
  color: $white;
  background: $primary-color;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  transition: color 300ms;
  color: currentColor;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: $max-page-width;
  margin: 0 auto;
  // padding: 0 10px;
}

// @media screen and (min-width: $breakpoint-1) {
//   .container {
//     padding: 0 30px;
//   }
// }

.header-spacer {
  height: $header-height;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
