$dark-color: #06303f;
$light-color: #f4f4f4;
$white: #fff;
$primary-color: #16a0d2;
$secondary-color: #44b3db;
$max-page-width: 1100px;
$header-height: 140px;
$font-1: "Raleway", Arial, Helvetica, sans-serif;

$breakpoint-1: 350px;
$breakpoint-2: 690px;
