.hero {
  position: relative;
  background: url("https://images.unsplash.com/photo-1576345370995-26018389c723?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
    );
  }

  .hero-text {
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;

    .title {
      font-size: 3rem;
      letter-spacing: 0.3rem;
      word-spacing: 0.5rem;
      margin-bottom: 0.8rem;
    }

    &__title {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 2.2rem;
    }
  }

  &__icon {
    font-size: 3rem;

    &-text {
      font-size: 0.6rem;
    }
  }
}
