@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --dark-gradient: #0274a8;
  --light-gradient: #A1DBD5;
  --header-height: 190px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul, a {
  text-decoration: none;
}

.page-width {
  max-width: 1100px;
  margin: auto;
  position: relative;
}

button {
  background: var(--dark-gradient);
  color: #fff;
  padding:15px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

button:hover {
  background: var(--light-gradient);
  color: #333;
}

/* HEADER STYLING */
header {
  background: linear-gradient(to bottom right, var(--dark-gradient), var(--light-gradient)) ;
  color: #fff;
  height: var(--header-height);
}

header h1 {
  padding-top: 50px;
  padding-bottom: 5px;
  font-size: 3rem;

}

header img {
  position: absolute;
  top: 30px;
  left:20px;
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  border-radius: 50%;
}

.header-text {
  width: 450px;
  margin: auto;
  text-align: center;
}

header ul {
  padding-top: 20px;  
}

header li {
  display: inline;
  padding: 10px;
}

header a {
  color: #fff;
  padding: 10px;
}

header a:hover {
  border: 1px solid #fff;
  border-radius: 5px;
}

/* Section About */
#about {
  min-height: calc(100vh - var(--header-height));
  background: #f4f4f4;
  color: #333;
  padding: 30px 20px;
}

#about-me {
  border: 2px solid #cef;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
}
#about-me h2 {
  margin-bottom: 20px;
}

#about-me p {
  margin-bottom: 10px;
}

#skills {
  display: flex;
}

.my-skills {
  border: 2px solid #cef;
  border-radius: 5px;
  width: 50%;
}

#skills .my-skills table {
  margin: 20px auto;
  
}

table * {
  margin: 0;
  border: 2px solid #cef;
  padding: 5px;
}


#skills .my-skills button {
  display: block;
  margin: auto;
}

#skills img {
  border: 2px solid #cef;
  border-radius: 5px;
  width: 50%;
  height: auto;
}

/* Section Portfolio */
#portfolio {
  background: linear-gradient(to right, var(--dark-gradient), var(--light-gradient)) ;
  padding: 20px;
}



#portfolio article {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#portfolio .project {
  display: flex;
}

#portfolio .project .image img {
  width: 250px;
}

#portfolio .project .image figcaption {
  text-align: center;
  color: var(--dark-gradient);
}

#portfolio .project .info {
  padding: 0 20px;
}

#portfolio .project .info .info-text {
  display: flex;
}

#portfolio .project .info .info-text h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#portfolio .project .info .links button{
  margin-top: 10px;
  margin-right: 15px;
}

/* Section Contact */
#contact {
  padding: 20px;
}

#contact form {
  border: 2px solid #cef;
  border-radius: 5px;
  padding: 20px;
}

#contact label {
  display: block;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}

/* Footer Styling */
footer {
  background: linear-gradient(to top right, var(--dark-gradient),var(--light-gradient)) ;
  color: #fff;
  height: 70px;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

footer ul {
  padding: 10px;
}

footer li {
  display: inline;
}

footer a{
  color: #fff;
  font-size: 1.5rem;
}