/* Basic Settings */
:root {
  --dark-color: #2c3547;
  --light-color: #f4f4f4;
  --white:#fff;
  --primary-color: #94b1ee;
  --secondary-color: #c9d8f6;
  --max-page-width: 1100px;
  --header-height: 140px;
  --font-1: 'Raleway', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-1);
  background: white;
  color: black;
}

.page-width {
  max-width: var(--max-page-width);
  margin: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
li {list-style: none;}

.button-dark {
  display: inline-block;
  font-size: 1rem;
  background: var(--dark-color);
  color: var(--white);
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark-color);
}

.button-dark:hover {
  background: none;
  color: var(--dark-color);
}

/* Section First page */
.first-page {
  /* background: url("https://images.unsplash.com/photo-1524385387790-eaafe455efbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1183&q=80"); */
  background: url("https://images.unsplash.com/photo-1576345370995-26018389c723?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.header {
  height: 100%;
  padding: 1.5rem;
  justify-self: stretch;
  /* background-color: var(--dark-color); */
}

.header > .page-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Noto";
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.25em;
  color: black;
  padding: 1rem;
  padding-right: 1.75rem;/* compensation for letter-spacing */
  background: var(--primary-color);
  /* border: 1px solid var(--dark-color); */
}

.main-nav ul {
  display: none;
  margin-bottom: 10px;
}

.main-nav li a{
padding: 10px;
}

.main-nav li a:hover {
  background-color: var(--primary-color);
}

.fa-bars {
  padding: 20px;
}

.fa-bars:hover {
  color: var(--primary-color);
}

.name {
  font-size: 3rem;
}

.intro {
  text-align: center;
}

.intro span {
  display: block;
  font-size: 1.5rem;
}

/* Section Portfolio */
#portfolio {
  background: var(--primary-color);
  padding: 30px;
}
.portfolio { 
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  column-gap: 10px;
  justify-items: center;
}

.portfolio_title {
  grid-column: 1/-1;
}

.project {
  width: 300px;
  height: 300px;
  background: white;
  box-shadow: 10px 10px 20px var(--dark-color);
}

.project_title {
  line-height: 2;
}

.project_image {
  width: 90%;
}

/* Section About */
#about {
  background: var(--secondary-color);
}
.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 30px;
  background: var(--secondary-color);
  margin-bottom: 50px;
}

.about_title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}



.about_image {
  width: 300px;
  height: 300px;
  background: url("../img/profiel_okt_2019.jpg") no-repeat center center/cover;
}

/* .profile-photo {
  width: 300px;
  height: 300px;

} */

.skills {
  display: flex;
  justify-content: space-evenly;
}

.button_cv {
  justify-self: left;
  align-self: start;
  margin-left: 30px;
}

/* Section Contact */
.contact{
  background: var(--primary-color);
}

/* Footer */
.footer {
  background: var(--dark-color);
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.social-media li {
  margin: 0 0.7rem;
}




@media screen and (min-width: 501px) {
  .header img {
    display: block;
  }
}

@media screen and (min-width: 691px) {
  .main-nav ul {
    display: flex;
  }

  .header .fa-bars {
    display: none;
  }
  
}
