/* Basic Settings */
:root {
  --dark-color: #06303f;
  --light-color: #f4f4f4;
  --white: #fff;
  --primary-color: #16a0d2;
  --secondary-color: #44b3db;
  --max-page-width: 1100px;
  --header-height: 140px;
  --font-1: "Raleway", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-1);
  font-weight: 500;
  background: white;
  color: white;
}

.page-width {
  max-width: var(--max-page-width);
  margin: auto;
  padding: 0 10px 70px 10px;
}

@media screen and (min-width: 350px) {
  .page-width {
    padding: 0 30px 70px 30px;
  }
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}

.button {
  display: inline-block;
  font-size: 1rem;
  background: var(--dark-color);
  color: var(--white);
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark-color);
}

.button:hover {
  background: none;
  color: var(--dark-color);
}

/* Section First page */
.first-page {
  position: relative;
  background: url("https://images.unsplash.com/photo-1576345370995-26018389c723?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  justify-items: center;
  align-items: center;
  padding-bottom: 1rem;
}

.first-page::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1)
  );
  /* background: linear-gradient(#000, #555); */
}

.header {
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 10;
  font-family: "Noto";
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.25em;
  padding: 1rem;
  padding-right: 1.75rem; /* compensation for letter-spacing */
  background: var(--secondary-color);
  /* border: 1px solid var(--dark-color); */
}

.main-nav__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: grid;
  justify-content: center;
  width: 100%;
  background: var(--white);
  color: var(--primary-color);
  margin-bottom: 10px;
  padding: 1rem 0;
  transform: translateY(-100%);
  transition: all 700ms ease-in-out;
}

.show-mobile-nav__list {
  transform: translateY(0);
}

@media screen and (min-width: 691px) {
  .main-nav__list {
    transform: translateY(0);
    position: static;
    height: auto;
    background: none;
    color: var(--white);
    display: flex;
  }

  .icon {
    display: none;
  }
}

.main-nav__list-item-link {
  padding: 10px;
}

.main-nav__list-item-link:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.icon {
  width: 2rem;
  height: 2rem;
  background: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.icon:hover .icon__mobile-nav,
.icon:hover .icon__mobile-nav::before,
.icon:hover .icon__mobile-nav::after {
  background: var(--secondary-color);
}

.icon__mobile-nav,
.icon__mobile-nav::before,
.icon__mobile-nav::after {
  background: var(--white);
  width: 100%;
  border-radius: 10px;
  position: absolute;
  transition: all 700ms;
}

.icon__mobile-nav {
  height: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.icon__mobile-nav::before,
.icon__mobile-nav::after {
  display: block;
  content: "";
  height: 100%;
}

.icon__mobile-nav::before {
  transform: translateY(-200%);
}

.icon__mobile-nav::after {
  transform: translateY(200%);
}

.close .icon__mobile-nav {
  transform: translateY(-50%) rotate(45deg);
}

.close .icon__mobile-nav::before {
  background: var(--primary-color);
  transform: rotate(-90deg);
}

.close .icon__mobile-nav::after {
  background: var(--primary-color);
  transform: rotate(0deg);
}

.name {
  z-index: 1;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  text-align: center;
}

.intro {
  z-index: 1;
  text-align: center;
}

.intro__text--title {
  display: block;
  font-size: 1.5rem;
}

.intro__icon {
  font-size: 3rem;
}

.intro__text--scroll {
  font-size: 0.6rem;
}

/* Section Portfolio */
#portfolio {
  background: var(--secondary-color);
}
.portfolio {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  column-gap: 10px;
  justify-items: center;
}

.portfolio_title {
  grid-column: 1/-1;
}

.project {
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  box-shadow: 10px 10px 20px var(--dark-color);
  overflow: hidden;
}

.project_title {
  position: relative;
  z-index: 20;
  color: var(--dark-color);
  font-weight: 300;
  line-height: 2;
}

.project_image {
  width: 90%;
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 90px;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  z-index: 10;
  color: var(--dark-color);
  background: rgba(255, 255, 255, 0.7);
  transition: transform 300ms;
}

@media (hover: hover) {
  .project__text {
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-100%);
  }
}

.project:hover .project__text {
  transform: translateY(0);
}

/* Section About */
#about {
  background: var(--primary-color);
}

.about {
  min-height: 400px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); */
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}

.about_title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
}

.about_image {
  width: 200px;
  height: 200px;
  margin-bottom: 3rem;
  background: url("../img/profiel_okt_2019.jpg") no-repeat center center/cover;
  border: 15px solid white;
  border-bottom: 30px solid white;
  box-shadow: 10px 10px 20px var(--dark-color);
  transform: rotate(7deg);
}

.about_text_title {
  margin-bottom: 1.3rem;
}

.about_text {
  line-height: 1.7rem;
}

.introduction {
  margin-bottom: 1rem;
}

.motivation {
  margin-bottom: 2rem;
}

@media screen and (min-width: 400px) {
  .about {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }
  .about_image {
    width: 300px;
    height: 300px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }
}

/* .profile-photo {
  width: 300px;
  height: 300px;

} */

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: space-evenly;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--dark-color);
}

.button--cv {
  margin-left: 0;
}

.box {
  margin-bottom: 2rem;
}

/* Section Contact */
.contact {
  background: var(--secondary-color);
}

.contact__text {
  text-align: center;
}

.contact_email {
  color: white;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
}
.contact_adress {
  text-align: center;
  margin-top: 2rem;
}

/* Footer */
.footer {
  background: var(--dark-color);
  color: white;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
}

.social-media li {
  margin: 0 0.7rem;
}
